/*Init css.*/
body, ul, ol, li, dl, dd, dt, p {
    padding: 0;
    margin: 0;
}

img {
    border: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
    padding: 0;
}

input[type=button], input[type=text], input[type=password] {
    -webkit-appearance: none;
    outline: none;
}

section {
    margin: 0;
    padding: 0;
    display: block;
}

/* select{-webkit-appearance: none;} */
html, body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
    font-family: "微软雅黑", "黑体", serif;
}

body {
    min-width: 320px;
    /*width: expression(document.body.clientWidth <700 ? "640px" : "100%" );*/
}

* {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}


/*通用属性*/
a:hover {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
    color: inherit;
}

.over {
    overflow: hidden;
}

.none {
    display: none;
}

.fix {
    *zoom: 1;
}

.fix:after {
    display: block;
    content: "";
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.text-over {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.img-scale {
    overflow: hidden;
}

.img-scale img {
    transition: all 0.6s;
}

.img-scale:hover img {
    transform: scale(1.1);
}

.tx-box {
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
}

.tx-z {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.fonw {
    font-weight: bold;
}

.product-name {
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.product-name span {
    display: inline;
    word-break: break-all;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fn {
    float: none;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

/*四边边距*/
.ma0 {
    margin: 0;
}

.ma10 {
    margin: 10px;
}

.ma15 {
    margin: 15px;
}

.ma20 {
    margin: 20px;
}

.ma25 {
    margin: 25px;
}

.ma30 {
    margin: 30px;
}

.ma35 {
    margin: 35px;
}

.ma40 {
    margin: 40px;
}

.ma45 {
    margin: 45px;
}

.ma50 {
    margin: 50px;
}

/*上下边距*/
.matb10 {
    margin: 10px 0;
}

.matb15 {
    margin: 15px 0;
}

.matb20 {
    margin: 20px 0;
}

.matb25 {
    margin: 25px 0;
}

.matb30 {
    margin: 30px 0;
}

.matb35 {
    margin: 35px 0;
}

.matb40 {
    margin: 40px 0;
}

.matb45 {
    margin: 45px 0;
}

.matb50 {
    margin: 50px 0;
}

/*左右边距*/
.malr10 {
    margin: 0 10px;
}

.malr15 {
    margin: 0 15px;
}

.malr20 {
    margin: 0 20px;
}

.malr25 {
    margin: 0 25px;
}

.malr30 {
    margin: 0 30px;
}

.malr35 {
    margin: 0 35px;
}

.malr40 {
    margin: 0 40px;
}

.malr45 {
    margin: 0 45px;
}

.malr50 {
    margin: 0 50px;
}

/*上边距*/
.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

/*下边距*/
.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

/*左边距*/
.mla {
    margin-left: auto;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

/*右边距*/
.mra {
    margin-right: auto;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

/*四边填充*/
.pa0 {
    padding: 0;
}

.pa10 {
    padding: 10px;
}

.pa15 {
    padding: 15px;
}

.pa20 {
    padding: 20px;
}

.pa25 {
    padding: 25px;
}

.pa30 {
    padding: 30px;
}

.pa35 {
    padding: 35px;
}

.pa40 {
    padding: 40px;
}

.pa45 {
    padding: 45px;
}

.pa50 {
    padding: 50px;
}

/*上下填充*/
.patb10 {
    padding: 10px 0;
}

.patb15 {
    padding: 15px 0;
}

.patb20 {
    padding: 20px 0;
}

.patb25 {
    padding: 25px 0;
}

.patb30 {
    padding: 30px 0;
}

.patb35 {
    padding: 35px 0;
}

.patb40 {
    padding: 40px 0;
}

.patb45 {
    padding: 45px 0;
}

.patb50 {
    padding: 50px 0;
}

/*左右填充*/
.palr10 {
    padding: 0 10px;
}

.palr15 {
    padding: 0 15px;
}

.palr20 {
    padding: 0 20px;
}

.palr25 {
    padding: 0 25px;
}

.palr30 {
    padding: 0 30px;
}

.palr35 {
    padding: 0 35px;
}

.palr40 {
    padding: 0 40px;
}

.palr45 {
    padding: 0 45px;
}

.palr50 {
    padding: 0 50px;
}

/*上填充*/
.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

/*下填充*/
.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb35 {
    padding-bottom: 35px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb50 {
    padding-bottom: 50px;
}

/*左填充*/
.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl35 {
    padding-left: 35px;
}

.pl40 {
    padding-left: 40px;
}

.pl45 {
    padding-left: 45px;
}

.pl50 {
    padding-left: 50px;
}

/*右填充*/
.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr35 {
    padding-right: 35px;
}

.pr40 {
    padding-right: 40px;
}

.pr45 {
    padding-right: 45px;
}

.pr50 {
    padding-right: 50px;
}

/*字体大小*/
.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px;
}

.fs19 {
    font-size: 19px;
}

.fs20 {
    font-size: 20px;
}

/*字体颜色*/
.col0 {
    color: #000;
}

.col3 {
    color: #333;
}

.col6 {
    color: #666;
}

.col9 {
    color: #999;
}

.cola {
    color: #aaa;
}

.colb {
    color: #bbb;
}

.colc {
    color: #ccc;
}

.cold {
    color: #ddd;
}

.cole {
    color: #eee;
}

.colf {
    color: #fff;
}

.col-red {
    color: #ff0000;
}

.col-blue {
    color: #0000ff;
}

.col-green {
    color: #00ff00;
}

/*边框圆角*/
.bora1 {
    border-radius: 1px;
}

.bora2 {
    border-radius: 2px;
}

.bora3 {
    border-radius: 3px;
}

.bora4 {
    border-radius: 4px;
}

.bora5 {
    border-radius: 5px;
}

/*四边边框*/
.bor0 {
    border: 0;
    border: none;
}

.bor1 {
    border: 1px solid #ccc;
}

.bor2 {
    border: 2px solid #ccc;
}

.bor3 {
    border: 3px solid #ccc;
}

.bor4 {
    border: 4px solid #ccc;
}

.bor5 {
    border: 5px solid #ccc;
}

/*上边框*/
.bort0 {
    border-top: 0;
    border-top: none;
}

.bort1 {
    border-top: 1px solid #ccc;
}

.bort2 {
    border-top: 2px solid #ccc;
}

.bort3 {
    border-top: 3px solid #ccc;
}

.bort4 {
    border-top: 4px solid #ccc;
}

.bort5 {
    border-top: 5px solid #ccc;
}

/*下边框*/
.borb0 {
    border-bottom: 0;
    border-bottom: none;
}

.borb1 {
    border-bottom: 1px solid #ccc;
}

.borb2 {
    border-bottom: 2px solid #ccc;
}

.borb3 {
    border-bottom: 3px solid #ccc;
}

.borb4 {
    border-bottom: 4px solid #ccc;
}

.borb5 {
    border-bottom: 5px solid #ccc;
}

/*左边框*/
.borl0 {
    border-left: 0;
    border-left: none;
}

.borl1 {
    border-left: 1px solid #ccc;
}

.borl2 {
    border-left: 2px solid #ccc;
}

.borl3 {
    border-left: 3px solid #ccc;
}

.borl4 {
    border-left: 4px solid #ccc;
}

.borl5 {
    border-left: 5px solid #ccc;
}

/*右边框*/
.borr0 {
    border-right: 0;
    border-right: none;
}

.borr1 {
    border-right: 1px solid #ccc;
}

.borr2 {
    border-right: 2px solid #ccc;
}

.borr3 {
    border-right: 3px solid #ccc;
}

.borr4 {
    border-right: 4px solid #ccc;
}

.borr5 {
    border-right: 5px solid #ccc;
}
