{% extends 'base/base.html' %}
{% load static bootstrap5 %}
{% block medical_page_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static "portal_auth/css/login.css" %}">
{% endblock %}
{% block content %}
    <div class="container form-container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1>Login In</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
