{% load static %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
     aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if active_label == None %}
            <li class="breadcrumb-item active">
                Home
            </li>
        {% else %}
            <li class="breadcrumb-item">
                <a href="{% url 'medical:home-page' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ active_label }}</li>
        {% endif %}
    </ol>
</nav>