<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<aside id="sidebar">
    {% for widget in widgets %}
        <div class="widget-wrap">
            <h3 class="widget-title">
                {{ widget.name }}
            </h3>
            <div class="widget">
                {% if widget.name == '原创图书' %}
                    {% comment %}暂时不推送这个{% endcomment %}
                {% elif widget.name == '分类' %}
                    <ul class="category-list">
                        {% for item in widget.content %}
                            <li class="category-list-item">
                                <a class="category-list-link" href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                                <span class="category-list-count">
                                    {{ item.blog.count }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% elif widget.name == '最近的文章' %}
                    <ul>
                        {% for item in widget.content %}
                            <li>
                                <a>{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</aside>
</body>
</html>