<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {# 网页标题插槽 #}
            锋窝
        {% endblock title %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div id="container">
    <div id="wrap">
        {% include 'layouts/hearder/header.html' %}
        <div class="outer">
            <section id="main">
                {% block main_content %}
                    {# 主内容插槽 #}
                    Default content
                {% endblock main_content %}
            </section>
            {% include 'layouts/sidebar/sidebar.html' with widgets=widgets %}
        </div>
        {% include 'layouts/footer/footer.html' %}
    </div>
</div>
</body>
</html>
