<meta charset="UTF-8">
<html>
<head>
    <title></title>
    <style type="text/css">* {
        margin: 0;
        padding: 0;
    }
    </style>
</head>
<body>
<div class="wp"
     style="background-color: #f7f5f2; margin: 0; padding-top: 0; padding-bottom: 30px; padding-left: 0; padding-right: 0; font-family:'Helvetica Neue', sans-serif;">
    <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="600">
        <tbody>
        <tr>
            <td height="65">&nbsp;</td>
        </tr>
        <tr>
            <td height="50">&nbsp;</td>
        </tr>
        <tr>
            <td style="box-shadow: 0 0 5px rgba(0,0,0,.25);">
                <table border="0" cellpadding="0" cellspacing="0" style="background-color: #fff;" width="100%">
                    <tbody>
                    <tr>
                        <td height="5">
                            <div style="background-color: #be1e74; height:1px; border-bottom: 4px solid #be1e74;">
                                &nbsp;
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="padding-top: 35px; padding-right: 39px; padding-left: 39px; padding-bottom: 30px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h1 style="margin: 0;font-size: 24px; color: #004d6c; text-align: left;">
                                                用户 {{ data.key }},</h1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="26">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="margin: 0; font-size: 16px; color: #000; line-height: 24px;">
                                                您的登录码如下，请查收。</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="26">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="border-left: 5px solid #ccc; padding-left: 10px;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <p style="margin: 0; font-size: 18px; color: #004d6c; line-height: 24px;">
                                                                登录码
                                                            </p>
                                                            <p style="margin: 0; font-size: 16px; line-height: 24px;">
                                                                {{ data.code }}
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="26">&nbsp;</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="26">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="16">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <p style="margin: 0; color:#000;font-size:14px">邮件自动发送的，请不要回复此邮件。</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
