{% load static %}
{% for item in message %}
    {% if user.user_name != item.user_info.user_name %}
        <div class="incoming_msg">
            <div class="incoming_msg_img"><img
                    src="{% static item.user_info.avatar_path %}"
                    alt="sunil"></div>
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>{{ item.message_data.data }}</p>
                    <span class="time_date"> {{ item.meta_info.date.data }}</span>
                </div>
            </div>
        </div>
    {% else %}
        <div class="outgoing_msg">
            <div class="sent_msg">
                <p>{{ msg.msg_data.data }}</p>
                <span class="time_date"> {{ msg.datetime.data }}</span>
            </div>
        </div>
    {% endif %}
{% endfor %}
