<a href="{{ home_banner_item.details_url_path }}" class="home-banner-item">
    <div class="item-info">
        <div class="item-info-title">{{ home_banner_item.title }}</div>
        <div class="item-info-sub">{{ home_banner_item.description }}</div>
    </div>
</a>