.hospital-list {
    display: flex;
    flex-flow: column nowrap;
    max-width: 1180px;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0 auto 20px;
    padding: 28px 30px;
    min-height: 800px;
}

.hospital-list .content:nth-child(2) {
    margin-top: 10px;
}

.hospital-list .content {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #999999;
}

.hospital-list .content > .content-left {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .05);
    margin-right: 24px;
    min-width: 100px;
    box-sizing: border-box;
    overflow: hidden;
}

.hospital-list .content > .content-left > img {
    height: 100%;
    width: 100%;
}

.hospital-list .content > .content-right > .content-right-title {
    display: flex;
}

.hospital-list .content > .content-right > .content-right-title > .tag-data span {
    padding: 5px;
    margin-left: 20px;
    background: #f39e0b;
    border: 1px solid #5b80b2;
    border-radius: 20px;
}

.hospital-list .content > .content-right > .content-right-body {
    margin-top: 10px;
}