.week-box {
    margin-bottom: 30px;
}

.nav-week {
    font-size: 0;
}

.nav-week > ul {
    margin: 0 auto;
}

.nav-week li {
    width: 30%;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #484848;
    margin: 15px 5% 0 0;
}

.nav-week li.crt a, .nav-week li:hover a {
    background: #003493;
    border-color: #003493;
    color: #fff;
}

.nav-week li a {
    display: block;
    border: 1px solid #bdbdbd;
}

.nav-week li.line {
    margin-right: 0;
}

@media only screen and (min-width: 768px) {
    .nav-week ul {
        width: 490px;
    }

    .nav-week > ul li {
        width: 60px;
        margin-right: 10px;
    }

    .nav-week > ul li.line {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .nav-week > ul {
        width: 700px;
    }

    .nav-week > ul li {
        width: 80px;
        margin-right: 20px;
    }

    .nav-week > ul li.line {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .nav-week > ul {
        width: 880px;
    }

    .nav-week > ul li {
        width: 105px;
        margin-right: 21px;
    }
}